* {
    background-color: #D8FCD8;
    margin: .5em 0 0 0;
    padding: 0;
    color: black;
    font-family: 'Moirai One', cursive;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 2em;
}

.box1 {
    margin: 1em 0 0 5em;
}

img {
    width: 80%;
    height: 75%;
}
h1 {

    font-size: 54px;
    color: #347c17;
    margin-bottom: .5em;
}

p {
    font-size: 28px;
    line-height: 58px;
}

.box2 {
    display: block;
    border-left: 1px solid gray;
    text-align: center;
    padding-left: 1em;
}

.info {
    display: block;
    margin: 3em 0 3em .75em;
    justify-content: left;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.info p {
    font-size: 24px;
}

.button {
    font-size: 18px;
    padding: 1em;
    background-color: #347c17;
    border: 1px solid white;
    color: white;
    border-radius: 5px 10px 5px 10px;
    text-decoration: none;
}

.button:hover {
    transition: .2s;
    background-color: #989c17;
    font-size: 18.5px;
    cursor: pointer;
}

.subP {
    font-size: 19px;
    margin-bottom: .5em;
}

@media only screen and (max-width: 940px) {
    .box {
        display: inline-block;
        text-align: center;
    }

    .box1 {
        margin: 1em 0 0 2em;
    }

    img {
        width: 75%;
        height: 50%;
    }
}